services:

  mongo:
    image: mongo:7
    container_name: auth-mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27018:27017"   # optional host access
    networks:
      - internal-net
    healthcheck:
      test: ["CMD-SHELL", "mongosh --eval 'db.adminCommand(\"ping\")' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10


  auth-service:
    build: ./auth
    container_name: auth-service
    ports:
      - "3000:3000"
    env_file:
      - ./auth/.env
    networks:
      - external-net
      - internal-net
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/health"]
      interval: 30s
      timeout: 5s
      retries: 3

  settings-service:
    build: ./setting
    container_name: settings-service
    ports:
      - "4000:4000"
    networks:
      - internal-net
      - external-net
    depends_on:
      auth-service:
        condition: service_healthy
      mongo:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:4000/health"]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  internal-net:
    driver: bridge
    internal: true
  external-net:
    driver: bridge


volumes:
  mongo_data:
