name: Microservices-Vulnerable CI/CD Pipeline

on:
  push:
      branches = [main]
  pull_request: 
      branches = [main]

jobs:
  build-and-secure:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write 

  steps:
  #------------------------
  #CHECKOUT ACTION
  #------------------------
  -  name: Checkout Code
     uses: actions/checkout@v3

  #-----------------------
  #LOGIN TO DOCKER 
  #-----------------------
  -  name: Login to Docker Registry
     uses: docker/login-action@v2
     with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

  #----------------------
  # LET'S BUILD THE IMAGE
  #----------------------
  -  name: Building the Docker image
     run: docker-compose -f docker-compose.yml build
